#header {
	display: block;
}
#container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 1170px;
}

#header-grid {
	padding:2em 0;
	border-bottom:1px solid #DEDEDE;
}

#header-grid-left {
	float: right;
}
#header-grid-left ul li{
	display:inline-block;
	font-size:14px;
	color:black;
	margin: 0 1em;
}
#header-grid-left ul li h2{
	color:black;
	margin: 0 1em;
}
#header-grid-left ul li a{
	text-decoration:none;
	color:black;
}
#header-grid-left ul li img{
	height: 40px;
	width: 40px;
	vertical-align: middle;
}
#header-grid-left ul li a:hover{
	color:#FFC229;
}

h1{
	font-family: 'Lato', sans-serif;
	margin:0;
}
h1 a{
	font-size:1.5em;
	color:#222;
	text-decoration:none;
}
h1 a span{
	display: block;
    font-size: .2em;
    line-height: 0;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #222222;
    padding-left: .3em;
}

#menu{
	height: 90px;
}
#menu_grid {
	float: left;
	margin-top: 15px;
}

#menu_grid ul li{
	display: inline-block;
	font-size: 15px;
	color:#999;
	margin: 0 2em;
}

#menu_grid ul li a{
	text-decoration: none;
	color: #999;
}

#menu_grid ul li a:hover{
	color: #d8703f;
}

#menu_left {
	float: left;
}

#menu_right{
	float: right;
	margin-top: 30px;
}

#menu_right img{
	vertical-align: middle;
	width: 30px;
	height: 30px;
}

#menu_right a{
	text-decoration: none;
	font-size: 15px;
	color:#999;
}

#menu_right a:hover{
	color: #FFC229;
}