.single-right{
    width: 70%;
    margin: 0 auto 2em;
    float: right;
}

.single-right-left {
    float: left;
    width: 45%;
}

.single-right-right{
    width: 55%;
    margin-left: 10px;
    float: right;
}

.single-right-right h3{
    font-size:2em;
	color:#212121;
	margin:0;
}

.description{
    margin-top: 50px;
}
.description h5{
    font-weight: normal;
	color:#212121;
	font-size:1em;
	margin:0;
}

.description p{
	font-size:14px;
	color:#999;
	line-height:1.8em;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

#slideshow {
	position:relative;
}

#slideshow img {
    width: 90%;
	position: absolute;
	z-index: 1;
	opacity: 0;
	transition: opacity 1.5s linear;
}

#slideshow > img:first-child {
	z-index: 3;
	opacity: 1;
}

#img_count{
	display: none;
	visibility: hidden;
}